{% load staticfiles %}
.content{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
	min-height: 100%;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.3);
}
.serverinfo{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 10px;
	line-height: 24px;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.playerinfo{
	margin-top: 20px;
	margin-right: 20px;
	color: white;
	width: 60%;
	padding: 10px;
	margin-bottom: 60px;
	background: rgba(0, 0, 1, 0.5);
	display: inline-block;
	border-radius: 6px;
	min-height: 70%;
}
hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
table{
	width: 100%;	
}
.entry{
	font-family: 'Roboto',sans-serif;
	padding-top: 20px;
}
.ip{
	text-align: left;
	font-size: 30px;
	color: white;
	margin-top: 10px;
	margin-left: 30px;
}
.pth{
	color: white;
	font-weight: 400;
	font-size: 20px;
	padding-bottom: 12px;
}
.headertr{
	color: white;
	font-size: 20px;
	font-weight: 700;
	padding-top: 16px;
}
.sth{
	color: white;
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}
.playerslink{
	text-decoration: none;
	color: black;
}
.display{
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
