{% load staticfiles %}
.display{
	width: 100%;
	margin: 0 auto;
	padding: 7%;
	padding-top: 0px;
	padding-bottom:30px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.list{
	font-family: 'Roboto',sans-serif;
	float: left;
	width: 60%;
	min-height: 100%;
}
.leaderboard{
	font-family: 'Roboto',sans-serif;
	float: right;
	width: 25%;
}

.listheader{
	font-family: 'Roboto',sans-serif;
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 40; 
	margin-bottom: 10;	
}
.title{
	color: white;
	margin-bottom: 10;	
	text-align: center;
	font-family: 'Roboto',sans-serif;
	margin-top: 40; 
	font-size: 30px;
}
.entry.Yes{
	background-color: #7b949c;
	background: rgba(0, 0, 0, 0.5);
}
.entry{
	color: white;
	font-size: 16px;
	font-family: 'Roboto',sans-serif;
	background-color: #173339;
	background: rgba(0, 0, 0, 0.5);
	font-weight: 300;
	width: 100%;
	border-radius: 15px;
	margin: 0px auto;
	margin-bottom: 10px;
	padding: 20px;
}
.scorebased{
	margin: 3px auto;
}
.durationbased{
	margin: 3px auto;
}
.leaderentry{
	color: white;
	font-size: 20px;
	font-family: 'Roboto',sans-serif;
	background-color: #3d5a64;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	border-radius: 15px;
	margin: 0px auto;
	min-height: 20px;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 4px;
}
.name{
	float: left;
	display: inline-block;
	white-space:normal;
	overflow: hidden;
	font-weight: bold;
  	margin-left: 30px;
	width: 50%;
}
.score{
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
hr{ 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.playerslink{
	text-decoration: none;
	color: black;
}
.specrow{
	padding: 5px 0;
	width: 100%;
}
.spec{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.game{
	width: 45%;
}
.map{
	width: 25%;
}
.players{
	width: 25%;
}
.iptitle{
	width: 100%;
	margin-bottom: 15px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.ip{
	width: 50%;
	float: left;
	font-weight: bold;
	width: 45%;
}
.lockYes{
	margin-right: 45px;
	float: right;
}