{% if latest_server_list %}
	<div id ="table"> 
		<table border=10>
			<tr>
				<th>IP Address</th>
				<th>Map</th>
				<th>Password Protected</th>
				<th>Number of Players</th>
				<th>Maximum Players Allowed</th>
				<th>Number Of Bots</th>
				<th>Game Name</th>
				<th>Environment</th>
				<th>Server Name</th>
				<th>Response Type</th>
				<th>Secure From Cheats</th>
				<th>Server Type</th>
			</tr>
			{% for server in latest_server_list %}
			<tr>
				<th><a href="{{ server.link }}/">{{ server.ip }}</th>
				<th>{{ server.map_name }}</th>
				<th>{{ server.password_protected }}</th>
				<th>{{ server.num_players }}</th>
				<th>{{ server.max_players }}</th>
				<th>{{ server.num_bots }}</th>
				<th>{{ server.game_name }}</th>
				<th>{{ server.environment }}</th>
				<th>{{ server.server_name }}</th>
				<th>{{ server.response_header }}</th>
				<th>{{ server.vac_secured }}</th>
				<th>{{ server.server_type }}</th>
			</tr>
			{% endfor %}
	    </table>
    </div>
{% else %}
    <p>No servers are available.</p>
{% endif %}