<html>
<head>
	<title> Let's Play</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'serverlist/detailstyle.css' %}" />
</head>
<body>
<div class="main">
	<div class="banner">
		<img src="{% static 'serverlist/images/logo.png' %}" width="300" height="150" alt = "Lets Play" align="middle">
	</div>

	<div class="display">
		<div class="content">
			<a class="playerslink" href="{{ server.link }}/" >
				<div class="entry">
 					<div class="ip">
						{{ server.server_name }} ({{ server.ip }})
						<hr/>
					</div>
					<div class="serverinfo">
						<table>
							<tr>
								<th class="sth">IP Address</th>
								<th class="sth">{{ server.ip }}</th>
							</tr>
							<tr>
								<th class="sth">Map</th>
								<th class="sth">{{ server.map_name }}</th>
							</tr>
							<tr>
								<th class="sth">Password</th>
								<th class="sth">{{ server.password_protected }}</th>
							</tr>
							<tr>
								<th class="sth">Total Players</th>
								<th class="sth">{{ server.num_players }}</th>
							</tr>
							<tr>
								<th class="sth">Max Players</th>
								<th class="sth">{{ server.max_players }}</th>
							</tr>
							<tr>
								<th class="sth">Bots</th>
								<th class="sth">{{ server.num_bots }}</th>
							</tr>
							<tr>
								<th class="sth">Game</th>
								<th class="sth">{{ server.game_name }}</th>
								
							</tr>
							<tr>
								<th class="sth">Environment</th>
								<th class="sth">{{ server.environment }}</th>
							</tr>
							<tr>
								<th class="sth">Server Name</th>
								<th class="sth">{{ server.server_name }}</th>
							</tr>
							<tr>
								<th class="sth">Response Type</th>
								<th class="sth">{{ server.response_header }}</th>
							</tr>
							<tr>
								<th class="sth">VAC Secured</th>
								<th class="sth">{{ server.vac_secured }}</th>

							</tr>
							<tr>
								<th class="sth">Server Type</th>
								<th class="sth">{{ server.server_type }}</th>
							</tr>
						</table>
					</div>
					<div class ="playerinfo"> 
						{% if player_list %}
							<table class="tablu">
								<tr class="headertr pth">
									<th class="headertr pth">Name</th>
									<th class="headertr pth">Score</th>
									<th class="headertr pth">Duration</th>
								</tr>
								{% for player in player_list %}
								<tr>
									<th class="pth">{{ player.name }}</th>
									<th class="pth">{{ player.score }}</th>
									<th class="pth">{{ player.duration }}</th>
								</tr>
								{% endfor %}
						    </table>
						{% else %}
						    <p>No player is present.</p>
						{% endif %}
				    </div>
				</div>
			</a>
		</div>
	</div>

	<div class="footer">
	</div>
</div>
</body>
</html>
