<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'serverlist/404.css' %}" />
</head>

<body>
	<div class="tail-left"></div>
	<div id="main">
		<!-- header -->
		<div id="header">
			<a href="/serverlist/" style="text-decoration:none">
			    <h1>Nothing alive here!<span><strong>404</strong> error - not found</span></h1>
            </a>
		</div>
		<!-- content -->
		<div id="content">
			<ul class="nav">
         	<li class="home"><a href="/serverlist/">Home Page</a></li>
            <li class="site_map">Jim Moriarty</li>
            <li class="search">Adolf Hitler </li>
         </ul>
         <p>We suppose the dead pages were not what you were looking for.<br /> So please go to our <a href="#">homepage.</a></p>
		</div>
      </div>
	</div>
</body>
</html>