{% load staticfiles %}
body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.header{
	font-family: 'Roboto',sans-serif;
	background-color: black;
	height: 20px;
}
.banner{
	background-color: #2980b9;
	background : rgba(41, 128, 185, 1);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.display{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	overflow:hidden;
}
.footer{
}

